.container {
    display: flex;
    flex-direction: column;

    margin: auto;
    max-width: 600px;
}

.row {
    display: flex;
    flex-direction: row;

    overflow: auto;
}

.column {
    display: flex;
    flex-direction: column;
}